
html {
    font-family: 'outfit';
    color:white;
}


body {
    background-color: black;
    width: 90%;
    margin: auto;
 
}


.nav {
    margin: auto;
    gap: 10%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


.packages, .about, .whatwedo {
    border-radius: 5px;
    height: 30px;
    min-width: 100px;
    display: flex;              
    align-items: center;      
    justify-content: center;
     
}


.navb {
    transition: transform 0.3s ease;
}


.navb:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}


.motto {
    min-height: 60vh;
    width: 100%;
    font-size: 150px;
   padding-top: 130px;
   
}


.brain {
    background: linear-gradient(to right, hsl(39, 100%, 50%), #ffe0b2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.mission {
    background: linear-gradient(to right, #ff0000, #fe7b7b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.start {
    width: 120px;
    height: 50px;
    background-color:white;
    border-radius: 10px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    transition: transform 0.3s ease;

}


.start:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}


.landing {
    min-height: 100vh;
}


.profiles {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 300px;
   
}


.Andybox, .Nivbox {
    display:flex;
}


.Andy, .Niv {
    height: 520px;
    width: 420px;
    padding: 20px;
}


.Andy {
    border: 2px solid red;
    border-radius: 10px
}


.Niv {
    border: 2px solid orange;
    border-radius: 10px
}


.portrait {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}


.heading {
    padding-left: 20px;
    font-size: 30px;
    height: 100px;
 
}


.andydesc {
    font-size: 15px;
}


@keyframes wave-animation {
    0% { transform: rotate(0deg); }
    10% { transform: rotate(14deg); }
    20% { transform: rotate(-8deg); }
    30% { transform: rotate(14deg); }
    40% { transform: rotate(-4deg); }
    50% { transform: rotate(10deg); }
    60% { transform: rotate(0deg); }
    100% { transform: rotate(0deg); }
  }


.wave {
    display: inline-block;
    transform-origin: 70% 70%; /* pivot around the wrist */
    animation: wave-animation 2s infinite;
  }


.message {
    text-align: center;
    min-height: 200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}


.covered {
    font-size: 30px;
}


.qb {
    width:25px;
    height: 25px;
    border-radius: 10px;
}


.ca {
    width:25px;
    height: 25px;
    border-radius: 10px;
}


.coa {
    width: 25px;
    height: 25px;
    border-radius: 10px;
}


.cacolor {
    background: linear-gradient(to right, hsl(205, 100%, 50%), #eefaff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.coacolor {
    background: linear-gradient(to right, hsl(205, 100%, 50%), #fa3a3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.qbcolor {
    background: linear-gradient(to right, hsl(0, 0%, 36%), #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.pack {
    min-height: 500px;
    display: flex;
    gap: 10px;
    justify-content: center;
    color: black;
    flex-wrap: wrap;


}


.commonapp, .supps, .ecs, .advice {
    width: 300px;
    height: 600px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}


.price {
    font-size: 50px;
}


.benefits {
    display: flex;
    flex-direction: column;
    gap: 15px;
   
}


.benefit-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 8px;
}


.check {
    width: 20px;
    height: 20px;
}


.benbutton {
    width: 100px;
    height: 30px;
    background-color: black;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    transition: transform 0.3s ease;
}


.benbutton:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}


.questions {
    display: flex;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.arrow {
    height: 100px;
    width: 100px;
    margin-bottom: 40px;
    margin-left: 10px;
}


.anyqs {
    margin-bottom: 0;
}


.idk {
    display: flex;
    margin-left: 220px;
}


.v2 {
    margin-top: 65px;
    margin-right: 0;
    margin-bottom: 50px;
}


a {
    color: inherit;
    text-decoration: none;
  }
 
html {
    scroll-behavior: smooth;
}


.experiences {
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: row;
}
 
.nivec {
    font-size: 15px;
    font-weight: 300;
    color: black;
}


.position {
    font-size: 10px;
    color: grey;
    align-items: end;
}

.logo {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    margin-right: 5px;
    border: 2px solid black;
}

.experiencebox {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    display: flex;
    align-items: center;
    height: 30px;
    padding-left: 3px;
    padding-right: 3px;
    margin-top: 10px;
}

.awards {
    background-color: purple;
}

.honors {
    color: white;
}

.why {
    width: 90%;
    min-height: 550px; 
    margin: auto;
    margin-bottom: 100px;
    margin-top: 100px;
    padding: 20px;
    border: 2px solid white;
    border-radius: 10px;
}

.diff {
   margin: auto; 
}

.v3 {
    margin-right: auto;
}

.packtitle {
   text-align: center;
   font-size: 40px;
}

@media (max-width: 700px) {
    .motto {
        font-size: 60px;
    }

    .Andy, .Niv {

        width: 430px;
    }
}